@defer {
    <mat-card class="p-10 travelMode" fxLayout="column wrap" fxLayoutAlign="center stretch"> 
        <div class="center bold">{{chartText}} </div>
        <div style="display: block;height:400px;width: inherit;">
            <canvas style="margin: 0 auto;" baseChart [data]="pieChartData" [labels]="pieChartLabels" [type]="pieChartType"
                [options]="pieChartOptions" [legend]="pieChartLegend">
            </canvas>
        </div>
    </mat-card>
  }
  @loading {
    <article>Loading ....</article>
  }
  @placeholder {
    <article>Charts</article>  
  }

