<div style="height: 100%;">
    <mat-toolbar class="primary-bg" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-toolbar-row class="toolbar">
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon class="white">{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
                </button>
                <mat-divider [vertical]="true"></mat-divider>
                <span (click)="gotobase()">Campus Navigator</span>
            </div>
            <button *ngIf="!logIn;else logged" mat-icon-button (click)="openLogin()">
                <mat-icon class="white">account_circle</mat-icon>
            </button>
            <ng-template #logged>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="white">account_circle</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="logout-btn" (click)="logout()">
                        <mat-icon class="white" color="white">power_settings_new</mat-icon>
                        Logout</button>
                </mat-menu>
            </ng-template>

        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav autoFocus="false" mode="side" [(opened)]="isMenuOpen" class="sidenav">
            <div>
                <img height="120px" src="assets/images/logo1.png" alt="logo">
            </div>
            @for(i of sideNavData;track i.id){
            @if (i.user=='normal') {
            <div class="sidenav-item" fxLayout="row wrap">
                <button mat-button (click)="navigate(i)" class="sidenav-button align-left"> <mat-icon
                        class="mat-18">{{i.icon}}</mat-icon>{{i.name}}</button>
            </div>
            }@else if (userData!=null && userData?.usertype=='admin' && i.user=='admin'){
            <div class="sidenav-item">
                <button mat-button (click)="navigate(i)" class="sidenav-button align-left"> <mat-icon
                        class="mat-18">{{i.icon}}</mat-icon>{{i.name}}
                </button>
            </div>
            }

            }
        </mat-sidenav>
        <mat-sidenav-content class="content p-15">
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>