<ngx-slick-carousel class="carousel" [config]="carouselConfig" #slickModal="slick-carousel">
    @for (building of buildings; track $index) {
    <div class="carousel-slide">
        <!-- Your existing card structure goes here -->
        <mat-card ngxSlickItem  fxLayout="column wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <mat-card-header>
                <mat-card-title>{{ building.build_name }}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img id="rimg" mat-card-image [src]="building.image" alt="{{ building.build_name }}">
            <mat-divider></mat-divider>
            <mat-card-content>
                
                <p>{{ building.build_description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    }
</ngx-slick-carousel>