<div class="modal">
    <div class="modal-header">
        Add Resource
    </div>
    <mat-divider></mat-divider>
    <div class="modal-info">
        <div class="modal-items">
            <mat-label class="w-25">Resource Type</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="Select">
                    <mat-option value="volvo">Volvo</mat-option>
                    <mat-option value="saab">Saab</mat-option>
                    <mat-option value="mercedes">Mercedes</mat-option>
                    <mat-option value="audi">Audi</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="modal-items">
            <mat-label class="w-25">Tags</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="Select">
                    <mat-option value="volvo">Volvo</mat-option>
                    <mat-option value="saab">Saab</mat-option>
                    <mat-option value="mercedes">Mercedes</mat-option>
                    <mat-option value="audi">Audi</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="modal-items">
            <mat-label class="w-25">Information</mat-label>
            <mat-form-field appearance="outline" class="full-width">
                <textarea matInput rows="5" cols="20" placeholder="Enter Info"></textarea>
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="modal-action">
        <button mat-flat-button color="warn">Cancel</button>
        <button mat-flat-button class="primary-btn">Save</button>
    </div>
</div>